.rodape{
    color: #FFFFFF;
    margin: 0;
}

.rodape ul li{
    list-style: none;
}

.area-rodape{
    margin: 0;
    margin-top: 10px;
}

.img-twt{
	padding-left: 20px;
}

.text-link{
	text-decoration: none;
	
}

.text-link a{
	
	color: rgb(255, 255, 255) !important;
}