.link{
    text-decoration: none;
    color: rgb(228, 0, 43) !important;
}


#menu2{
    display: none !important;
}

.logo{
   min-height: 20px;
   max-height: 35px;
   max-width: 45px;
}

.area-logo{
    max-height: 50px;
    
}

.botao-menu{
    display: none;
    margin-left: 80px;
}

.area-menu2{
    display: none;
}

@media (max-width: 588px){
    
   .area-menu{
        display: none;
   }

   .area-menu2{
    display: block;
   }
}