.area1-container{

	margin-top: 30px;
}

.area1-itens{
	padding: 70px 0;
}

.slides1-corpo{
	margin-top: 40px;
}


.corpo-playStore{
	width: 100px;
	height: 100px;
}

.area-app{
	width: 70px;
	height: 40px;
}

.area-app a {
	text-decoration: none;
}

.area-app a:hover {
	text-decoration: none;
}

.area-rede{
	width: 60px;
	height: 50px;
}

.area-rede a:hover {
	text-decoration: none;
}

.list-integrantes{
	list-style: none;
}

.carousel-inner img {
    width: 50%;
    height: 50%;
}

.area-celular{
	margin-left: 20px;
}

.area-slides{
	background-color: #F0F0F0 !important;
	color:rgb(228, 0, 43);	
}

@media only screen and (max-width: 600px) {
  .area-celular{
  		display: none;
  }
  .area-slides{
  	display: none;
  }
}